@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Header CSS Starts */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 50px auto;
  padding: 0 50px;
  position: relative;
}
.navtitle {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

nav ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  position: static;
  text-decoration: none;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px;
  cursor: pointer;
  background: transparent;
}
/* Header CSS Ends  */

/* Hero Section CSS Starts */
#hero {
  width: 100%;
  max-width: 1440px;
  height: 652px;
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 998px;
  width: 100%;
  padding: 20px;
}

.banner_image {
  width: 173.03px;
  height: 228.9px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.banner h1 {
  width: 100%;
  max-width: 998px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
}
.banner p {
  width: 100%;
  max-width: 852px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.btn-container {
  margin: 32px 0px;
  width: 208px;
  height: 66px;
}
.btn-2 {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  margin: 0px 10px;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
/* Hero Section CSS Ends */

/* Web Dev CSS Starts */
#web-dev {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.web-dev-content {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin: 74px auto;
}

.div1 {
  width: 100%;
  max-width: 852px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2 {
  margin-bottom: 24px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  width: 100%;
}

.p {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  width: 100%;
  margin-bottom: 48px;
}

.div2 {
  width: 100%;
  max-width: 946px;
  padding: 48px;
  margin-bottom: 32px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.content {
  width: 100%;
  max-width: 477px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  text-align: center;
}

.content h3 {
  width: 100%;
  padding: 0px;
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.content p {
  width: 100%;
  margin-bottom: 32px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture img {
  max-width: 100%;
  height: auto;
  display: block;
}

.btn-pric {
  width: 150px;
  height: 48px;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-pri {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  width: 110px;
  height: 24px;
}

.div3 {
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 48px;
  margin-bottom: 32px;
  width: 100%;
  max-width: 946px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
.div4 {
  padding: 48px;
  margin-bottom: 32px;
  width: 100%;
  max-width: 946px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
/* Web Dev CSS Ends */

/* Inspiration Section Starts */
#inspiration {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  margin: 88px auto 0px;
}
.context {
  width: 100%;
  max-width: 852px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin-bottom: 48px;
}

.iframe {
  width: 100%;
  max-width: 1140px;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  display: flex;
  justify-content: center;
}

.iframe iframe {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 550px;
}
/* Inspiration Section Ends */

/* Target Section Starts */

/* Target Section Ends */
#target {
  margin: 111px auto 0px;
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.main2 {
  width: 100%;
  max-width: 852px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardbox {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 48px;
  flex-wrap: wrap;
  gap: 20px;
}

.cards {
  width: 100%;
  max-width: 364px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  text-align: center;
}
.cards img {
  display: block;
  margin: 0 auto;
}
.cardbox h3 {
  width: 100%;
  margin-top: 24px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.cardbox p {
  width: 100%;
  margin-top: 8px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.cardbox a {
  margin-top: auto;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
}
.css {
  background: rgba(0, 76, 232, 0.05);
}
.js {
  background: rgba(255, 223, 0, 0.05);
}
/* Support Section Starts */
#support {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 48px;
  background-image: linear-gradient(
      0deg,
      rgba(16, 16, 16, 0.5),
      rgba(16, 16, 16, 0.3) 100%
    ),
    url(../assets/handshake.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  margin: 111px auto 0px;
}
.sbanner {
  width: 100%;
  max-width: 1044px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.sbanner .h2 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.sbanner .p {
  width: 100%;
  max-width: 606px;
  opacity: 0.7;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.form {
  width: 100%;
  max-width: 684px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.form .left {
  flex: 1;
  min-width: 200px;
  height: 57px;
  padding: 19px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.form .submit {
  width: 120px;
  height: 57px;
  padding: 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  border: none;
}
/* Support Section Ends */

/* Footer Section Starts */
#footer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 50px;
  margin: 80px auto 0px;
}

.ftleft {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  width: 456px;
  height: 23px;
}
.contact ul {
  width: 157.01px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.contact ul li {
  list-style: none;
}
.contact ul li a {
  text-decoration: none;
}
/* Footer Section Ends */
